<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

 <body class="text-center enter-field">

<main class="enter-position">
  <form>

  <%= image_tag("logo-kbp.png", class: 'logo') %>

    <h1 class="h3 mb-3 fw-normal">Вход</h1>

    <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Группа" %>

    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "номер по журналу" %>
    <p></p>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>

  </form>
</main>

</body>

<% end %>

